@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  
  background-color: black;
  
}
.backdrop{
  backdrop-filter: blur(10px);
}
.link {
    position: relative;
    display: inline-block;
    overflow: hidden;
   
}

.link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transition: left 0.3s ease;
}

.link:hover::after {
  left:0
}
.img-slider{
  transition: transform 1s ease-in-out;
}
.intro{
  box-shadow:  6px 5px 3px;
}
.intro p{
  background: linear-gradient(to bottom right ,orange,yellow,green);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari/Chrome */
  color: transparent;
}